<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.nana"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sendmsg"
            android:label="@string/sendmsg"
        />
        <activity android:name="ChangeData"></activity>
        <activity android:name="Change1"></activity>
        <activity android:name="Change2"></activity>
        <activity android:name="Change3"></activity>
        <activity android:name="Change4"></activity>
        <activity android:name="Change5"></activity>
        <activity android:name="Change6"></activity>
        <activity android:name="Change7"></activity>
        <activity android:name="Change8"></activity>
        <activity android:name="Change9"></activity>
        <activity android:name="Change10"></activity>
        <activity android:name="Change11"></activity>
        <activity android:name="Change12"></activity>
        <activity android:name="Change13"></activity>
        <activity android:name="Change14"></activity>
        <activity android:name="Change15"></activity>
        
    </application>
<!-- 以下是使用wifi访问网络所需的权限 -->
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>